.filterFields {
	margin-top: 20px;
	margin-bottom: 25px;
}

.filterFieldButton {
	margin: 4px;
}

.pendingUpdate {
	text-align: center;
}

.pendingExport {
	background-color: #dadada; 
	width: 100%; 
	text-align: center; 
	padding: 35px; 
	margin-top: 15px;
}

.pendingRefresh {
	text-align: center;
}