<div style="height: 25px;">
	<div v-show="pendingUpdate === true" v-transition="expand" class="{{ $data._styles.PendingUpdate }}">
		<h2>Laddar...</h2>
	</div>
</div>
<div style="min-height: 1000px">
	<div v-show="pendingUpdate !== true">
		<h2>2. Anpassa uttag och exportera</h2>
		<div class="row">
			<div class="col-md-8">
				<p>
					<span>35 000 träffar</span>
					<span v-repeat="d in labels" class="label label-default" style="margin-right: 10px; display: inline-block">
						{{ d.$value }}
					</span>
					<br>
					<b>{{ countSelectedFilterFields() }} fält</b> valda för export hittills
				</p>
			</div>
			<div class="col-md-4" style="text-align: right">
				<div class="form-group">
					<div class="dropdown pull-right">
						<button class="btn btn-success dropdown-toggle" type="button" id="export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Exportera
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="export">
							<li><a href="javascript:void(null);" v-on="click:performExport('json')">Som .json-fil</a></li>
							<li><a href="javascript:void(null);" v-on="click:performExport('xml')">Som .xml-fil</a></li>
							<li><a href="javascript:void(null);" v-on="click:performExport('csv')">Som .csv-fil</a></li>
							<li><a href="javascript:void(null);" v-on="click:performExport('tsv')">Som .tsv-fil</a></li>
						</ul>
					</div>
				</div>
				<iframe id="__downloadWindow__" style="display: none;"></iframe>
			</div>
		</div>
		<div v-show="pendingExport" class="{{ $data._styles.PendingExport }}">
			<h4>Servern genererar din fil och den kommer snart att laddas ned...</h4>
		</div>
		<hr>
		<h4>Välj fält till uttag</h4>
		<filter-fields filter-fields="{{@ filterFields }}" default-filter-fields="{{ defaultFilterFields }}"></filter-fields>
		<h4>Förhandsvisning av uttag</h4>
		<br>
		<div style="min-height: 480px;">
			<div v-show="pendingRefresh !== true">
				<list-preview result="{{ result }}" filter-fields="{{ filterFields }}"></list-preview>
			</div>
			<div v-show="pendingRefresh == true" class="{{ $data._styles.PendingRefresh }}">
				<h2>Hämtar förhandsvisning...</h2>
			</div>
		</div>
		<hr>
		<h4>Sökfråga</h4>
			<pre>{{ query }}</pre>
		</div>
	</div>
</div>