<div class="{{ $data._resultStyles.Loading }}">
	<div v-show="pendingUpdate === true" transition="expand" class="{{ $data._resultStyles.PendingUpdate }}">
		<h2>Laddar...</h2>
	</div>
</div>
<div class="{{ $data._resultStyles.Container }}">
	<div v-show="pendingUpdate !== true">
		<slot name="SearchResultTitle"></slot>
		<div v-show="!error">
			<div class="row">
				<div class="col-xs-8">
					<slot name="SearchResultDescription"></slot>
					<p>
						{{ totalHits !== false ? '~' + totalHits : 'Okänt antal' }} poster
						<span v-for="d in labels" class="label label-default" style="margin-right: 10px; display: inline-block; vertical-align: middle;">
							{{ d.value }}
						</span>
					</p>
					<template v-if="selectAllFilterFields !== true">
						<p><b>{{ countSelectedFilterFields() }} fält</b> valda för export hittills</p>
					</template>
				</div>
				<div class="col-xs-4" style="text-align: right">
					<mail-export :query="query"></mail-export>
				</div>
			</div>
			<hr>
			<div class="{{ $data._resultStyles.Item }}" v-if="selectAllFilterFields !== true">
				<h4>Välj fält för export</h4>
				<slot name="FilterFieldsDescription"></slot>
				<filter-fields :filter-fields.sync="filterFields" :default-filter-fields="defaultFilterFields"></filter-fields>
			</div>
			<div class="{{ $data._resultStyles.Item }}">
				<h4>Förhandsvisning av export</h4>
				<br>
				<div style="min-height: 480px;">
					<div v-show="pendingRefresh !== true">
						<list-preview :result="result" :filter-fields="filterFields"></list-preview>
					</div>
					<div v-show="pendingRefresh == true" class="{{ $data._styles.PendingRefresh }}">
						<h2>Hämtar förhandsvisning...</h2>
					</div>
				</div>
			</div>
		</div>
		<div v-show="error">
			<div class="{{ $data._resultStyles.Error }}">
				<h1>Problem med sökfråga<h1>
			</div>
		</div>
	</div>
</div>