<div>
	<site-wrapper activity="inspector">
		<div>
			<h2>Förändring av kvalitet på data - 
				<span v-if="labels.length === 0">
					Alla lärosäten
				</span>
				<span v-for="d in (labels || [])" style="display: inline-block">
					{{ d.value }}<template v-if="d.index !== $parent.labels.length-1">,&nbsp;</template>
				</span>
			</h2>
			<div class="{{ $data._styles.YearIndicator }}">
				<p>{{ formModel.from }} {{ formModel.from || formModel.to ? '-' : '' }} {{ formModel.to }}</p>
			</div>
			<!-- Visualisations -->
			<div class="{{ $data._styles.Visualisations }}">
				<div v-if="loadingData" class="{{ $data._styles.Info }}">
					<h1>Laddar...</h1>
				</div>
				<div v-if="emptyAggregations" class="{{ $data._styles.Info }}">
					<h1>Tomt sökresultat</h1>
				</div>
				<div v-if="error" class="{{ $data._styles.Info }}">
					<h1>Problem med att ladda data</h1>
				</div>
				<!-- Charts -->
				<div class="row" v-show="!emptyAggregations && !error">
					<div class="col-md-7 {{ $data._styles.ChartContainer }}">
						<template v-if="lineChart.getContent">
							<p>Antal poster</p>
							<div>
								<chart type="line" :get-content="lineChart.getContent"></chart>
							</div>
						</template>
					</div>
					<div class="col-md-5 {{ $data._styles.ChartContainer }}">
						<template v-if="pieChart.getContent">
							<p>Fördelning av poster</p>
							<div>
								<chart type="donut" :get-content="pieChart.getContent"></chart>
							</div>
						</template>
					</div>
				</div>
			</div>
			<!-- Search form -->
			<div class="{{ $data._styles.SearchForm }}">
				<search-form :on-change.once="onChange" from="1992" default-template="duplicates">
					<div slot="SearchFormTitle">
						<h2>Tre vägar till högre datakvalitet</h2>
					</div>
					<div slot="SearchFormDescription">
						Välj organisation och år, välj sedan aktivitet. 
					</div>
				</search-form>
				<button class="btn btn-info {{ $data._styles.BtnHuge }}" v-on:click="startActivity('ERROR_LIST')">
					Lista ofullständig metadata
				</button>
			</div>
			<!-- Error list activity -->
			<search-result v-if="activity === 'ERROR_LIST'" :form-model="formData.formModel" :fields="formData.fields">
				<div slot="SearchResultTitle">
					<h2>Ofullständig metadata: Granska och exportera lista</h2>
				</div>
				<div slot="SearchResultDescription">
					<p>Exportera lista för att rätta bristfällig eller saknad metadata.</p>
				</div>
			</search-result>
		</div>
	</site-wrapper>
</div>