.Visualisations {
	min-height: 420px;
	margin-top: 5px;
	margin-bottom: 45px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding-top: 35px;
	padding-bottom: 20px;
}

.YearIndicator {
	min-height: 30px;
	color: gray;
}

.ChartContainer {
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.Info {
	width: 100%;
	padding-top: 130px;
	text-align: center; 
}

.SearchForm {
	margin-bottom: 25px;
}

.BtnHuge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    margin-right: 10px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
