.Visualisations {
	min-height: 530px;
	margin-top: 5px;
	margin-bottom: 45px;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding-top: 35px;
	padding-bottom: 20px;
}

.YearIndicator {
	min-height: 30px;
	text-align: right;
	color: gray;
}

.ChartContainer {
	padding-right: 40px;
	margin: 0px;
	height: 460px;
}

.GraphTitle {
	min-height: 30px;
	margin-left: 20px;
	margin-right: 50px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f9f9f9;
}

.Info {
	width: 100%;
	padding-top: 245px;
	text-align: center; 
}

.SearchForm {
	margin-bottom: 25px;
}

.BtnHuge {
	margin-top: 10px;
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    margin-right: 10px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}