<div>
	<site-wrapper>
		<div>
			<h3>Förändring av kvalitet på data</h3>
			<div style="background-color: #f9f9f9; margin-bottom: 55px; margin-left: -55px; margin-right: -55px; padding: 55px; margin-top: 25px;">
				<p v-if="loadingData === true">
					Laddar visualiseringar...
				</p>
				<div class="row">
					<div class="col-xs-6">
						<template v-if="aggregations.org">
							<chart type="bar" data="{{ aggregations.org }}"></chart>
						</template>
					</div>
					<div class="col-xs-6">
						<template v-if="aggregations.org">
							<chart type="pie" data="{{ aggregations.org }}"></chart>
						</template>
					</div>
				</div>
			</div>
			<!--<h1>Tre vägar till höjd datakvalitet</h1>
			<p>Genom att bidra till arbetet att höja kvaliteten på data.</p>-->
		</div>
	</site-wrapper>
</div>