.SiteWrapper {
	overflow-x: hidden;
}

.Header {
	color: #FFFFFF;
	padding: 50px; 
	padding-top: 40px; 
	margin-bottom: 0px;
}
.TopInfo {
	padding: 15px 0px 15px 45px;
}
.TopInfo a {
	color: #333;
}
.TopInfo a:hover {
	cursor: pointer;
	color: #333;
}
.MenuBar {
	background: #efefef;
}

.MenuItem {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: #FFFFFF;
}

.MenuItem a {
	color: #FFFFFF;
}

.ActiveMenuItem {
	background-color: #2e2e2e;
}

.ImageContainer {
	padding-top: 15px;
}

.TitleContainer {
	padding-left: 35px;
	max-width: 900px;
}

.Content {
	max-width: 1450px; 
	padding: 45px; 
	padding-top: 45px;
}

.FooterUpper {
	padding: 55px; 
}

.FooterUpper li {
	padding-bottom: 15px;
}

.FooterLower {
	padding: 55px; 
	padding-top: 30px;
}

.FooterText {
	padding-top: 10px;
}

.GithubLogo {
	width: 25px;
}

.FALogo {
	color: black;
	font-size: x-large;
}
