<div class="{{ $data._styles.SiteWrapper }}">
	<div class="row {{ $data._styles.MenuBar }}">
		<div class="col-md-7">
		</div>
		<div class="col-md-5">
			<div class="row">
				<div class="col-xs-4 {{ $data._styles.MenuItem }} {{ activity === 'bibliometrician' ? $data._styles.ActiveMenuItem : '' }}">
					<a href="/bibliometriker">Bibliometri</a>
				</div>
				<div class="col-xs-4 {{ $data._styles.MenuItem }} {{ activity === 'inspector' ? $data._styles.ActiveMenuItem : '' }}">
					<a href="/granskare">Databearbetning</a>
				</div>
				<div class="col-xs-4 {{ $data._styles.MenuItem }}">
					Hjälp
				</div>
			</div>
		</div>
	</div>
	<div class="{{ $data._styles.Header }}">
		<table>
			<tr>
				<td>
					<div class="{{ $data._styles.ImageContainer }}">
						<img src="/2.0/vendor/kungbib-styles/dist/assets/kb_logo_white.svg" alt="" style="height: 100px;"/>
					</div>
				</td>
				<td>
					<div class="{{ $data._styles.TitleContainer }}">
						<h2>SwePub för analys och bibliometri</h2>
						<p>
							SwePub för analys och bibliometri samlar vetenskapliga publikationer 
							från svenska lärosäten och myndigheter. Använd tjänsten för att ta ut
							underlag till bibliometri och databearbetning.
						</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="{{ $data._styles.Content }}">
		<slot></slot>
	</div>
	<div class="{{ $data._styles.Footer }}">
		<div class="row">
			<div class="col-md-1">
				<img src="/2.0/vendor/kungbib-styles/dist/assets/kb_logo_grey.svg" alt="" />
			</div>
			<div class="col-md-11">
				<div class="{{ $data._styles.FooterText }}">
					<p>
						<strong>
							<a href="http://www.kb.se" alt="Länk till Kungl. bibliotekets webbplats">
								KUNGL. BIBLIOTEKET
							</a>
						</strong>
						<br>
						<span>Support: <a href="mailto:libris@kb.se">libris@kb.se</a></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>