.SiteWrapper {
	overflow-x: hidden;
}

.Header {
	color: #FFFFFF;
	padding: 50px; 
	padding-top: 40px; 
	margin-bottom: 0px;
}

.MenuBar {
	background: #efefef;
}

.MenuItem {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: #FFFFFF;
}

.MenuItem a {
	color: #FFFFFF !important;
}

.ActiveMenuItem {
	background-color: #2e2e2e;
}

.ImageContainer {
	padding-top: 15px;
}

.TitleContainer {
	padding-left: 35px;
	max-width: 900px;
}

.Content {
	max-width: 1450px; 
	padding: 25px; 
	padding-top: 35px;
}

.Footer {
	background-color: #2e2e2e; 
	color: #bababa; 
	padding: 55px; 
	padding-top: 30px;
	margin-top: 210px;
}

.FooterText {
	padding-top: 10px;
}








