#swepub-application .header-light {
}

#swepub-application .btn {
	border-radius: 3px;
}

#swepub-application .nav-tabs {
	border: 0px;
}

#swepub-application .nav-tabs > li:hover {
}

#swepub-application .nav-tabs li.active {
}

#swepub-application .nav-tabs > li > a {
	background-color: inherit;
	color: inherit;
	font-weight: bold;
	padding: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 0px;
	border-radius: 0px;
}

#swepub-application .well {
	border-radius: 1px;
	background-color: #ffffff;
}

#swepub-application .form-control {
	border: 0px;
}