.FractSymbol {
	padding-left: 2px;
	padding-right: 2px;
}

.FilterFields {
	margin-top: 20px;
	margin-bottom: 25px;
}

.FilterFieldButtonContainer {
	display: inline-block;
}

.LastFilterFieldButtonContainer {
	border-right: 1px solid lightgray;
	margin-right: 7px;
	padding-right: 5px;
}

.FilterFieldsButtonsContainer .FilterFieldButtonContainer:last-child {
    border-right: 0px solid black;
}

.SelectButtons {
	margin-top: 15px;
}
