.FractSymbol {
	padding-left: 2px;
	padding-right: 2px;
}

.FilterFields {
	margin-top: 20px;
	margin-bottom: 25px;
}

.FilterFieldButton {
	margin: 4px;
	margin-left: 0px;
}

.SelectButtons {
	margin-top: 15px;
}
