<div class="well {{ $data._styles.FilterFields }}">
	<div>
		<p style="font-size: small;">
			<span class="fractSymbol {{ $data._styles.FractSymbol }}"><fract-circle></fract-circle></span>
			fraktionerad data 
			<help-initiator-button></help-initiator-button>
		</p>
	</div>
	<hr>
	<div v-repeat="filterFields" style="display: inline-block;">
		<button 
			v-class="btn-info: checked, btn-default: !checked" v-on="click: $set('checked', !checked)" 
			class="btn btn-xs {{ $parent.$data._styles.FilterFieldButton }}">
			{{ stripAsterisk(fieldName) }}
			<template v-if="fractionalField(fieldName)">
				&nbsp;<fract-circle></fract-circle>
			</template>
		</button>
	</div>
	<div class="{{ $data._styles.SelectButtons }}">
		<button class="btn btn-sm btn-default" v-on="click: selectNoFilterFields">Rensa fält</button>
		<button class="btn btn-sm btn-default" v-on="click: selectAllFilterFields">Alla fält</button>
		<button class="btn btn-sm btn-default" v-on="click: selectDefaultFilterFields">Förvalda fält</button>
	</div>
</div>