<div>
	<form-field-wrapper>
		<!-- Input -->
		<div class="FormFieldInput">
			<div class="row">
				<div class="col-xs-6">
					<input v-model="field.from" type="text" class="form-control" placeholder="Från och med">
				</div>
				<div class="col-xs-6">
					<input v-model="field.to" type="text" class="form-control" placeholder="Till och med">
				</div>
			</div>
		</div>
		<!-- Errors -->
		<div class="FormFieldErrors">
			<form-error-label errors="{{ errors }}"></form-error-label>
		</div>
	</form-field-wrapper>
</div>