<h2>1. Gör utsökning</h2>
<div class="row">
	<div class="col-xs-8">
		<p>
			Här söker du fram publikationsposter från deltagande organisationer för export av data. OBS: Tjänsten är i testfas just nu och tills vidare exporteras endast förhandsvisningen.
		</p>
		<!-- SHOW FIELDS -->
		<div v-repeat="field in fields | orderFields">
			<template v-if="isTemplateField(field, templateName)">
				<div v-component="{{ field.fieldName }}"></div>
			</template>
		</div>
		<!-- SHOW-BUTTONS -->
		<div class="{{ $data._styles.ShowFieldButtons }}">
			<template v-if="isTemplateField(fields.publType, templateName)">
				<show-field-button field="{{@ fields.publType }}" on-click-show-field="{{ onClickShowField }}"></show-field-button>
			</template>
			<template v-if="isTemplateField(fields.orcid, templateName)">
				<show-field-button field="{{@ fields.orcid }}" on-click-show-field="{{ onClickShowField }}"></show-field-button>
			</template>
			<template v-if="isTemplateField(fields.authorLabel, templateName)">
				<show-field-button field="{{@ fields.authorLabel }}" on-click-show-field="{{ onClickShowField }}"></show-field-button>
			</template>
			<template v-if="isTemplateField(fields.openaccess, templateName)">
				<show-field-button field="{{@ fields.openaccess }}" on-click-show-field="{{ onClickShowField }}"></show-field-button>
			</template>
		</div>
		<!-- SEARCH-BUTTON -->
		<div class="form-group">
			<button v-on="click: performSearch" class="btn btn-info">Visa</button>
		</div>
	</div>
	<div class="col-xs-4">
	</div>
</div>