<slot name="SearchFormTitle"></slot>
<div class="row">
	<div class="col-xs-8">
		<slot name="SearchFormDescription"></slot>
		<!-- Fields -->
		<div v-for="field in fields | orderFields">
			<template v-if="isTemplateField(field, templateName)">
				<component :is="field.fieldName"></component>
			</template>
		</div>
		<!-- Show buttons -->
		<div class="{{ $data._styles.ShowFieldButtons }}">
			<template v-if="isTemplateField(fields.output, templateName)">
				<show-field-button :field.sync="fields.output" :get-field-index.once="getFieldIndex"></show-field-button>
			</template>
			<template v-if="isTemplateField(fields.publType, templateName)">
				<show-field-button :field.sync="fields.publType" :get-field-index.once="getFieldIndex"></show-field-button>
			</template>
			<template v-if="isTemplateField(fields.authorLabel, templateName)">
				<show-field-button :field.sync="fields.authorLabel" :get-field-index.once="getFieldIndex"></show-field-button>
			</template>
			<template v-if="isTemplateField(fields.orcid, templateName)">
				<show-field-button :field.sync="fields.orcid" :get-field-index.once="getFieldIndex"></show-field-button>
			</template>
			<template v-if="isTemplateField(fields.openaccess, templateName)">
				<show-field-button :field.sync="fields.openaccess" :get-field-index.once="getFieldIndex"></show-field-button>
			</template>
		</div>
		<!-- Search button -->
		<div class="form-group" v-if="onSearch">
			<button v-on:click="performSearch" class="btn btn-info SearchButton">VISA</button>
		</div>
		<slot name="Bottom">
		</slot>
	</div>
	<div class="col-xs-4">
	</div>
</div>