<div class="form-group">
	<div class="dropdown pull-right">
		<button class="btn btn-success dropdown-toggle" type="button" id="export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Exportera
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="export">
			<div class="{{ $data._styles.Close }}" v-on:click="onClickContainer(false)">X</div>
			<div class="{{ $data._styles.MailExport }}" v-on:click="onClickContainer">
				<div v-if="sent">
					Servern skapar din fil och en länk kommer att skickas till <b>{{ email }}</b>.
				</div>
				<div v-if="!sent">
					<div class="{{ $data._styles.MailExportTitle }}">
						<p>Skicka länk till fil till min e-post</p>
					</div>
					<div class="{{ $data._styles.MailExportContent }}">
						<div class="row">
							<div class="col-xs-3">
								<input type="radio" name="format" v-model="format" value="text/csv" checked> .csv</input><br>
								<input type="radio" name="format" v-model="format" value="text/tab-separated-values"> .tsv</input><br>
								<input type="radio" name="format" v-model="format" value="application/sparql-results+xml"> .xml</input><br>
								<input type="radio" name="format" v-model="format" value="application/sparql-results+json"> .json</input><br>
							</div>
							<div class="col-xs-9">
								<div class="form-group">
									<input v-model="email" class="form-control" type="text" placeholder="min@epost.se"></input>
								</div>
								<form-error-label :errors="errors"></form-error-label>
								<div class="form-group">
									<button class="btn btn-info" v-on:click="performExport" :disabled="email.length < 5 || errors.length !== 0">
										<i class="fa fa-envelope"></i>&nbsp;Skicka
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ul>
	</div>
</div>