<div class="{{ $data._resultStyles.Result }}">
	<div class="{{ $data._resultStyles.Loading }}">
		<div v-if="pendingUpdate === true" transition="expand" class="{{ $data._resultStyles.PendingUpdate }}">
			<h2>Laddar...</h2>
		</div>
	    <div v-if="!hasNonEmptyResult()" class="{{ $data._resultStyles.PendingUpdate }}">
	        <h2>Tomt sökresultat</h2>
	    </div>
	</div>
	<div class="{{ $data._resultStyles.Container }}" v-if="hasNonEmptyResult()">
		<div v-show="pendingUpdate !== true">
			<div v-show="!error">
				<div class="{{ $data._resultStyles.Item }}">
					<slot name="QueryResultTitle"></slot>
					<slot name="SearchResultDescription"></slot>
					<template v-if="selectAllFilterFields !== true">
						<p><b>{{ countSelectedFilterFields() }} fält</b> valda för export hittills</p>
					</template>
				</div>
				<filter-fields :filter-fields.sync="filterFields" :default-filter-fields="defaultFilterFields">
					<div slot="Top"><mail-export :query="query"></mail-export></div>
				</filter-fields>
				<div>
					<div style="min-height: 480px;">
						<list-preview :result="result" :filter-fields="filterFields"></list-preview>
					</div>
				</div>
			</div>
			<div v-show="error">
				<div class="{{ $data._resultStyles.Error }}">
					<h1>Problem med sökfråga<h1>
				</div>
			</div>
		</div>
	</div>
</div>