<div>
	<form-field-wrapper>
		<!-- Input -->
		<div class="FormFieldInput">
			<input v-model="field.value" type="text" class="form-control {{ $data._formFieldStyles.Input }}"></input>
		</div>
		<!-- Buttons -->
		<div class="HideButton">
			<hide-field-button field="{{@ field }}" on-click-hide-field="{{ onClickHideField }}"></hide-field-button>
		</div>
		<!-- Errors -->
		<div class="FormFieldErrors">
			<form-error-label errors="{{ errors }}"></form-error-label>
		</div>
	</form-field-wrapper>
</div>