.SiteWrapper {
	overflow-x: hidden;
}

.Header {
	background-color: #2e2e2e; 
	color: #bababa;
	padding: 55px; 
	padding-top: 25px; 
	margin-bottom: 20px;
}

.Content {
	max-width: 1400px; 
	padding: 55px; 
	padding-top: 35px;
}

.Footer {
	background-color: #2e2e2e; 
	color: #bababa; 
	padding: 55px; 
	padding-top: 75px;
	padding-bottom: 300px; 
	margin-top: 100px;
}

.MenuBar {
	background: #efefef;
}

.MenuItem {
	padding-top: 25px;
	padding-bottom: 15px;
	text-align: center;
	color: gray;
	height: 80px;
	border-bottom: 10px solid #f9f9f9;
	cursor: pointer;
}

.ActiveMenuItem {
	color: #bababa;
	font-weight: bold;
	background-color: #2e2e2e;
	border-bottom: 10px solid #86b5cb;
}