.SiteWrapper {
	overflow-x: hidden;
}

.Header {
	background-color: #2e2e2e; 
	color: #bababa;
	padding: 55px; 
	padding-top: 25px; 
	margin-bottom: 20px;
}

.Content {
	max-width: 1400px; 
	padding: 55px; 
	padding-top: 35px;
}

.Footer {
	background-color: #2e2e2e; 
	color: #bababa; 
	padding: 55px; 
	padding-top: 75px;
	margin-top: 150px;
}

.MenuBar {
	background: #efefef;
}

.MenuItem {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: gray;
	height: 80px;
	cursor: pointer;
}

.ActiveMenuItem {
	color: #bababa;
	font-weight: bold;
	background-color: #2e2e2e;
}

.ImageContainer { 
	padding-top: 23px;
}