<!DOCTYPE html>
<html lang="sv-SE">
    <head>
        <title>{{pageTitle}}</title>
        <META HTTP-EQUIV="Pragma" CONTENT="public">
        <meta http-equiv="cache-control" content="public, max-age=7200">
        <meta http-equiv="expires" content="', gmdate(" D, d M Y H:i:s", time() + (3600*2)), ' GMT', '">
        <link href="2.0/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
        <link href="2.0/vendor/kungbib-styles/dist/css/kb-style.css" rel="stylesheet" type="text/css"></link>
        <link href="2.0/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div id="app">
            <view></view>
        </div>
    </body>
    <script type="text/javascript" src="2.0/bibliometrician.bundle.js"></script>
</html>