<!DOCTYPE html>
<html lang="sv-SE">
<head>
    {{>head}}
    <META HTTP-EQUIV="Pragma" CONTENT="public">
    <meta http-equiv="cache-control" content="public, max-age=7200">
    <meta http-equiv="expires" content="', gmdate("D, d M Y H:i:s", time() + (3600*2)), ' GMT', '">
    <link rel='stylesheet' id='sel2css-css'  href='http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css?ver=4.1.7' type='text/css' media='all' />

</head>

<body class="home page page-id-15 page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php custom-background masthead-fixed full-width footer-widgets grid">


<div id="main" class="site-main">

    <div id="main-content" class="main-content">

        <div id="primary" class="content-area">
            <div id="content" class="site-content" role="main">
                <article id="post-635" class="post-635 page type-page status-publish hentry">
                    <header class="entry-header"><h1 class="entry-title">Uttag av data</h1></header><!-- .entry-header -->
                    <div class="entry-content">
        <div class="responsive-tabs">

            <h2 class="tabtitle">Enkel</h2>
            <div class="tabcontent">
                <form class="custform simple_form" action="ladda-ner-fil" autocomplete="on" method="post">
                <h2>
                    <a title="Utsökning" href="http://info.swepub.kb.se/utsokningar-av-data/utsokningshjalp#simple">
                        <i class=" fa fa-info-circle alignright moreinfo" style=" font-size:48px;"></i>
                    </a>
                    Här söker du fram publikationsposter från deltagande organisationer för export av data
                </h2>
                <div><input name="form" type="hidden" value="simple" /></div>
                <div class="org"><label id="org_label" class="" for="org">Organisation</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Här menas registrerande organisation. Väljer du ingen organisation ingår samtliga i uttaget." data-placement="top" >
                    <i class="fa fa-question-circle"></i></a>
                    <select id="org" class="org simple_subject js-example-basic-multiple" multiple="multiple" name="org[]" size="5">
                        <option value="bth">Blekinge Tekniska Högskola</option>
                        <option value="cth">Chalmers tekniska högskola</option>
                        <option value="esh">Ersta Sköndal högskola</option>
                        <option value="fhs">Försvarshögskolan</option>
                        <option value="gih">Gymnastik- och idrottshögskolan</option>
                        <option value="gu">Göteborgs universitet</option>
                        <option value="hhs">Handelshögskolan i Stockholm</option>
                        <option value="du">Högskolan Dalarna</option>
                        <option value="hkr">Högskolan Kristianstad</option>
                        <option value="hv">Högskolan Väst</option>
                        <option value="hb">Högskolan i Borås</option>
                        <option value="hig">Högskolan i Gävle</option>
                        <option value="hh">Högskolan i Halmstad</option>
                        <option value="hj">Högskolan i Jönköping</option>
                        <option value="his">Högskolan i Skövde</option>
                        <option value="kth">KTH</option>
                        <option value="kau">Karlstads universitet</option>
                        <option value="ki">Karolinska Institutet</option>
                        <option value="konstfack">Konstfack</option>
                        <option value="kmh">Kungliga Musikhögskolan</option>
                        <option value="liu">Linköpings universitet</option>
                        <option value="lnu">Linnéuniversitetet</option>
                        <option value="ltu">Luleåtekniska universitet</option>
                        <option value="lu">Lunds universitet</option>
                        <option value="mah">Malmö Högskola</option>
                        <option value="miun">Mittuniversitetet</option>
                        <option value="mdh">Mälardalens högskola</option>
                        <option value="nationalmuseum">Nationalmuseum</option>
                        <option value="nrm">Naturhistoriska riksmuseet</option>
                        <option value="naturvardsverket">Naturvårdsverket</option>
                        <option value="nai">Nordiska Afrikainstitutet</option>
                        <option value="rkh">Röda Korsets Högskola</option>
                        <option value="shh">Sophiahemmet Högskola</option>
                        <option value="vti">Statens väg- och transportforskningsinstitut</option>
                        <option value="su">Stockholms universitet</option>
                        <option value="slu">Sveriges lantbruksuniversitet</option>
                        <option value="sh">Södertörns högskola</option>
                        <option value="umu">Umeåuniversitet</option>
                        <option value="uu">Uppsala universitet</option>
                        <option value="oru">Örebro universitet</option>
                    </select></div>
                <div class="year_from"><label id="year_from_label" class="" for="year_from">Från</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Ange årtal (från och med) med fyra siffror. Anger du inget årtal ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="year_from" class="" autocomplete="on" maxlength="4" name="year_from" pattern="\d{4}" type="text" value="" placeholder="År" /></div>
                <div class="year_to"><label id="year_to_label" class="" for="year_to">Till</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Ange årtal (till och med) med fyra siffror. Anger du inget årtal ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="year_to" class="" autocomplete="on" maxlength="4" name="year_to" pattern="\d{4}" type="text" value="" placeholder="År" /></div>
                <div class="simple_subject"><label id="simple_subject_label" class="" for="simple_subject">Ämne</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj ett eller flera ämnen. Väljer du inget ämne ingår samtliga i uttaget. Ämnesklassifikationen följer "Standard för svensk indelning av forskningsämnen 2011"." data-placement="top" ><i class="fa fa-question-circle"></i></a>

                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="1 Naturvetenskap">
                        <option value="101">101 Matematik</option>
                        <option value="102">102 Data- och informationsvetenskap</option>
                        <option value="103">103 Fysik</option>
                        <option value="104">104 Kemi</option>
                        <option value="105">105 Geovetenskap och miljövetenskap</option>
                        <option value="106">106 Biologiska vetenskaper</option>
                        <option value="107">107 Annan naturvetenskap</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="2 Teknik">
                        <option value="201">201 Samhällsbyggnadsteknik</option>
                        <option value="202">202 Elektroteknik och elektronik</option>
                        <option value="203">203 Maskinteknik</option>
                        <option value="204">204 Kemiteknik</option>
                        <option value="205">205 Materialteknik</option>
                        <option value="206">206 Medicinteknik</option>
                        <option value="207">207 Naturresursteknik</option>
                        <option value="208">208 Miljöbioteknik</option>
                        <option value="209">209 Industriell bioteknik</option>
                        <option value="210">210 Nanoteknik</option>
                        <option value="211">211 Annan teknik</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="3 Medicin och hälsovetenskap">
                        <option value="301">301 Medicinska grundvetenskaper</option>
                        <option value="302">302 Klinisk medicin</option>
                        <option value="303">303 Hälsovetenskaper</option>
                        <option value="304">304 Medicinsk bioteknologi</option>
                        <option value="305">305 Annan medicin och hälsovetenskap</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="4 Lantbruksvetenskap">
                        <option value="401">401 Lantbruksvetenskap, skogsbruk och fiske</option>
                        <option value="402">402 Husdjursvetenskap</option>
                        <option value="403">403 Veterinärmedicin</option>
                        <option value="404">404 Bioteknologi med applikationer på växter och djur</option>
                        <option value="405">405 Andra lantbruksrelaterade vetenskaper</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="5 Samhällsvetenskap">
                        <option value="501">501 Psykologi</option>
                        <option value="502">502 Ekonomi och näringsliv</option>
                        <option value="503">503 Utbildningsvetenskap</option>
                        <option value="504">504 Sociologi</option>
                        <option value="505">505 Juridik</option>
                        <option value="506">506 Statsvetenskap</option>
                        <option value="507">507 Social och ekonomisk geografi</option>
                        <option value="508">508 Medie- och kommunikationsvetenskap</option>
                        <option value="509">509 Annan samhällsvetenskap</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="6 Humaniora">
                        <option value="601">601 Historia och arkeologi</option>
                        <option value="602">602 Språk och litteratur</option>
                        <option value="603">603 Filosofi, etik och religion</option>
                        <option value="604">604 Konst</option>
                        <option value="605">605 Annan humaniora</option></optgroup>
                    </select></div>
                <div class="simple_publtype"><label id="simple_publtype_label" class="" for="simple_publtype">Publikationstyper</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj en eller flera publikationstyper. Väljer du ingen publikationstyp ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <select id="simple_publtype" class="simple_publtype simple_subject js-example-basic-multiple" multiple="multiple" name="simple_publtype[]" size="5">
                        <option value="bok">Bok</option>
                        <option value="kap">Bokkapitel</option>
                        <option value="dok">Doktorsavhandling</option>
                        <option value="for">Forskningsöversikt</option>
                        <option value="kon">Konferensbidrag</option>
                        <option value="kfu">Konstnärligt arbete</option>
                        <option value="lic">Licentiatavhandling</option>
                        <option value="pat">Patent</option>
                        <option value="pro">Proceedings (redaktörskap)</option>
                        <option value="rap">Rapport</option>
                        <option value="rec">Recension</option>
                        <option value="sam">Samlingsverk (redaktörskap)</option>
                        <option value="art">Tidskriftsartikel</option>
                        <option value="ovr">Annan publikation</option>
                    </select></div>
                <div class="simple_openaccess"><label id="simple_openaccess_label" class="" for="simple_openaccess">Open Access</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj "Open Access" för att inkludera enbart open access-publikationer i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="simple_openaccess" class="simple_openaccess" autocomplete="on" name="simple_openaccess" type="checkbox" value="openaccess_true" />Endast Open Access</div>
                <div class="simple_status"><label id="simple_status_label" class="" for="simple_status">Publiceringsstatus</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj publiceringsstatus för de publikationer som ska ingå i uttaget: allt, publicerat eller opublicerat. Väljer du inget under publiceringsstatus är "publicerat" förvalt." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <ul class="simple_status">
                        <li><input id="simple_status_all" class="" autocomplete="on" name="simple_status" type="radio" value="all" />Allt</li>
                        <li><input id="simple_status_published" class="" autocomplete="on" checked="checked" name="simple_status" type="radio" value="published" />Publicerat</li>
                        <li><input id="simple_status_unpublished" class="" autocomplete="on" name="simple_status" type="radio" value="unpublished" />Opublicerat</li>
                    </ul>
                </div>
                <div class="simple_submit"><button id="simple_submit" class="btn btn-default btn-lg simple_submit">Visa <i class="fa fa-search"></i></button></div>
            </form>
            </div>

            <h2 class="tabtitle">Avancerad</h2>
            <div class="tabcontent">
                <form class="custform advanced_form" action="ladda-ner-fil" autocomplete="on" method="post">
                <h2>
                    <a title="Utsökning" href="http://info.swepub.kb.se/utsokningar-av-data/utsokningshjalp#advanced">
                        <i class=" fa fa-info-circle alignright moreinfo" style=" font-size:48px;"></i>
                    </a>
                    Här formulerar du en egen SPARQL-sökfråga för export av data
                </h2>
                <div><input name="form" type="hidden" value="advanced" /></div>
                &nbsp;
                <div class="advanced_sparqlcode_submit"><button id="advanced_sparqlcode_submit" class="btn btn-default btn-lg advanced_sparqlcode_submit">Visa <i class="fa fa-search"></i></button></div>
                <!--

                <hr />

                Vill du göra egna uttag av data och få visuell hjälp och vägledning i ett externt verktyg kan du göra det här.
                <div class="advanced_external"><a class="btn btn-default btn-lg advanced_external" id="advanced_external" href="http://hp07.libris.kb.se/sparql" target="_blank">Till extern tjänst <i class="fa fa-external-link" ></i></a></div>
                -->

            </form>
            </div>

            <h2 class="tabtitle">Datakvalitet</h2>
            <div class="tabcontent">
                <form class="custform quality_form" action="ladda-ner-fil" autocomplete="on" method="post">
                <h2>
                    <a title="Utsökning" href="http://info.swepub.kb.se/utsokningar-av-data/utsokningshjalp#quality">
                        <i class=" fa fa-info-circle alignright moreinfo" style=" font-size:48px;"></i>
                    </a>
                    Här söker du fram poster som brister i datakvalitet för export av data
                </h2>
                <div><input name="form" type="hidden" value="quality" /></div>
                <div class="org"><label id="org_label" class="" for="org">Organisation</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Här menas registrerande organisation. Väljer du ingen organisation ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <select id="org" class="org org simple_subject js-example-basic-multiple" multiple="multiple" name="org[]" size="5">
                        <option value="bth">Blekinge Tekniska Högskola</option>
                        <option value="cth">Chalmers tekniska högskola</option>
                        <option value="esh">Ersta Sköndal högskola</option>
                        <option value="fhs">Försvarshögskolan</option>
                        <option value="gih">Gymnastik- och idrottshögskolan</option>
                        <option value="gu">Göteborgs universitet</option>
                        <option value="hhs">Handelshögskolan i Stockholm</option>
                        <option value="du">Högskolan Dalarna</option>
                        <option value="hkr">Högskolan Kristianstad</option>
                        <option value="hv">Högskolan Väst</option>
                        <option value="hb">Högskolan i Borås</option>
                        <option value="hig">Högskolan i Gävle</option>
                        <option value="hh">Högskolan i Halmstad</option>
                        <option value="hj">Högskolan i Jönköping</option>
                        <option value="his">Högskolan i Skövde</option>
                        <option value="kth">KTH</option>
                        <option value="kau">Karlstads universitet</option>
                        <option value="ki">Karolinska Institutet</option>
                        <option value="konstfack">Konstfack</option>
                        <option value="kmh">Kungliga Musikhögskolan</option>
                        <option value="liu">Linköpings universitet</option>
                        <option value="lnu">Linnéuniversitetet</option>
                        <option value="ltu">Luleåtekniska universitet</option>
                        <option value="lu">Lunds universitet</option>
                        <option value="mah">Malmö Högskola</option>
                        <option value="miun">Mittuniversitetet</option>
                        <option value="mdh">Mälardalens högskola</option>
                        <option value="nationalmuseum">Nationalmuseum</option>
                        <option value="nrm">Naturhistoriska riksmuseet</option>
                        <option value="naturvardsverket">Naturvårdsverket</option>
                        <option value="nai">Nordiska Afrikainstitutet</option>
                        <option value="rkh">Röda Korsets Högskola</option>
                        <option value="shh">Sophiahemmet Högskola</option>
                        <option value="vti">Statens väg- och transportforskningsinstitut</option>
                        <option value="su">Stockholms universitet</option>
                        <option value="slu">Sveriges lantbruksuniversitet</option>
                        <option value="sh">Södertörns högskola</option>
                        <option value="umu">Umeåuniversitet</option>
                        <option value="uu">Uppsala universitet</option>
                        <option value="oru">Örebro universitet</option>
                    </select></div>
                <div class="year_from"><label id="year_from_label" class="" for="year_from">Från</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Ange årtal (från och med) med fyra siffror. Anger du inget årtal ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="year_from" class="" autocomplete="on" maxlength="4" name="year_from" pattern="\d{4}" type="text" value="" placeholder="År" /></div>
                <div class="year_to"><label id="year_to_label" class="" for="year_to">Till</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Ange årtal (till och med) med fyra siffror. Anger du inget årtal ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="year_to" class="" autocomplete="on" maxlength="4" name="year_to" pattern="\d{4}" type="text" value="" placeholder="År" /></div>
                <div class="quality_errortype"><label id="quality_errortype_label" class="" for="quality_errortype">Feltyp</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj en eller flera feltyper. Väljer du ingen feltyp ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <select id="quality_errortype" class="quality_errortype org simple_subject js-example-basic-multiple" multiple="multiple" name="quality_errortype[]" size="5">
                        <option value="swpa_m:DOIViolation">DOI fel</option>
                        <option value="swpa_m:ISBNCountryCodeViolation">ISBN - fel landkod</option>
                        <option value="swpa_m:ISBNFormatViolation">ISBN fel</option>
                        <option value="swpa_m:ISBNAtWrongPlaceViolation">ISBN på fel nivå</option>
                        <option value="swpa_m:ISIFormatViolation">ISI-id fel</option>
                        <option value="swpa_m:ISSNViolation">ISSN fel</option>
                        <option value="swpa_m:MissingISSNViolation">ISSN saknas</option>
                        <option value="swpa_m:MissingConferenceTitleViolation">Konferenstitel saknas</option>
                        <option value="swpa_m:ORCIDViolation">ORCID fel</option>
                        <option value="swpa_m:HREFViolation">PersonalID fel</option>
                        <option value="swpa_m:MissingLocalCreatorViolation">PersonalID saknas</option>
                        <option value="swpa_m:ObsoletePublicationStatusViolation">Publiceringsstatus fel</option>
                        <option value="swpa_m:MissingCreatorCountViolation">Upphov - antal saknas</option>
                        <option value="swpa_m:DuplicateNameViolation">Upphov - dubblering</option>
                        <option value="swpa_m:CreatorCountMismatchViolation">Upphov - olika antal</option>
                        <option value="swpa_m:LocalPersonIDMultipleNameVariants">Upphov - olika namnvarianter</option>
                        <option value="swpa_m:MissingLocalCreatorViolation">Upphov saknas</option>
                        <option value="swpa_m:BadDateIssuedViolation">Utgivningsdatum fel</option>
                        <option value="swpa_m:MissingHSV3Violation">Ämne saknas</option>
                    </select></div>
                <div class="quality_submit"><button id="quality_submit" class="btn btn-default btn-lg quality_submit">Visa <i class="fa fa-search"></i></button></div>
            </form>
            </div>

            <h2 class="tabtitle">Dubblettkandidater</h2>
            <div class="tabcontent">
                <form class="custform duplicates_form" action="ladda-ner-fil" autocomplete="on" method="post">
                <h2>
                    <a title="Utsökning" href="http://info.swepub.kb.se/utsokningar-av-data/utsokningshjalp#duplicates">
                        <i class=" fa fa-info-circle alignright moreinfo" style=" font-size:48px;"></i>
                    </a>
                    Här söker du fram potentiella dubblettposter för export av data
                </h2>
                <div><input name="form" type="hidden" value="duplicates" /></div>
                <div class="org"><label id="org_label" class="" for="org">Organisation</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Här menas registrerande organisation. Väljer du ingen organisation ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <select id="org" class="org org simple_subject js-example-basic-multiple" name="org[]" size="5">
                        <option value="bth">Blekinge Tekniska Högskola</option>
                        <option value="cth">Chalmers tekniska högskola</option>
                        <option value="esh">Ersta Sköndal högskola</option>
                        <option value="fhs">Försvarshögskolan</option>
                        <option value="gih">Gymnastik- och idrottshögskolan</option>
                        <option value="gu">Göteborgs universitet</option>
                        <option value="hhs">Handelshögskolan i Stockholm</option>
                        <option value="du">Högskolan Dalarna</option>
                        <option value="hkr">Högskolan Kristianstad</option>
                        <option value="hv">Högskolan Väst</option>
                        <option value="hb">Högskolan i Borås</option>
                        <option value="hig">Högskolan i Gävle</option>
                        <option value="hh">Högskolan i Halmstad</option>
                        <option value="hj">Högskolan i Jönköping</option>
                        <option value="his">Högskolan i Skövde</option>
                        <option value="kth">KTH</option>
                        <option value="kau">Karlstads universitet</option>
                        <option value="ki">Karolinska Institutet</option>
                        <option value="konstfack">Konstfack</option>
                        <option value="kmh">Kungliga Musikhögskolan</option>
                        <option value="liu">Linköpings universitet</option>
                        <option value="lnu">Linnéuniversitetet</option>
                        <option value="ltu">Luleåtekniska universitet</option>
                        <option value="lu">Lunds universitet</option>
                        <option value="mah">Malmö Högskola</option>
                        <option value="miun">Mittuniversitetet</option>
                        <option value="mdh">Mälardalens högskola</option>
                        <option value="nationalmuseum">Nationalmuseum</option>
                        <option value="nrm">Naturhistoriska riksmuseet</option>
                        <option value="naturvardsverket">Naturvårdsverket</option>
                        <option value="nai">Nordiska Afrikainstitutet</option>
                        <option value="rkh">Röda Korsets Högskola</option>
                        <option value="shh">Sophiahemmet Högskola</option>
                        <option value="vti">Statens väg- och transportforskningsinstitut</option>
                        <option value="su">Stockholms universitet</option>
                        <option value="slu">Sveriges lantbruksuniversitet</option>
                        <option value="sh">Södertörns högskola</option>
                        <option value="umu">Umeåuniversitet</option>
                        <option value="uu">Uppsala universitet</option>
                        <option value="oru">Örebro universitet</option>
                    </select></div>
                <div class="year_from"><label id="year_from_label" class="" for="year_from">Från</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Ange årtal (från och med) med fyra siffror. Anger du inget årtal ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="year_from" class="" autocomplete="on" maxlength="4" name="year_from" pattern="\d{4}" type="text" value="" placeholder="År" /></div>
                <div class="year_to"><label id="year_to_label" class="" for="year_to">Till</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Ange årtal (till och med) med fyra siffror. Anger du inget årtal ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="year_to" class="" autocomplete="on" maxlength="4" name="year_to" pattern="\d{4}" type="text" value="" placeholder="År" /></div>
                <div class="duplicates_submit"><button id="duplicates_submit" class="btn btn-default btn-lg duplicates_submit">Visa <i class="fa fa-search"></i></button></div>
            </form>
            </div>

            <h2 class="tabtitle">Publikationslista</h2>
            <div class="tabcontent">
                <form class="custform publicationlist_form" action="ladda-ner-fil" autocomplete="on" method="post">
                <h2>
                    <a title="Utsökning" href="http://info.swepub.kb.se/utsokningar-av-data/utsokningshjalp#publicationlist">
                        <i class=" fa fa-info-circle alignright moreinfo" style=" font-size:48px;"></i>
                    </a>Här söker du fram poster för export av data till en forskares publikationslista
                </h2>
                <div><input name="form" type="hidden" value="one_creator" /></div>
                <div><label id="author_label" class="" for="author">Upphov namn</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="För- och efternamn kan skrivas i vilken ordning som helst med gemener eller versaler. Det går att använda asterisk (*) efter fyra bokstäver för att hitta namn med varierande ändelser. Det går inte att söka på initialer." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input autocomplete="on" name="author" size="30" type="text" /></div>
                <div><label id="author_label" class="" for="orcid">ORCID</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Här skriver du in ORCID, ett unikt forskar id. Skriv in alla 16 siffror inklusive bindeslag, till exempel: 0000-0001-2345-6789. Observera att en sökning på både namn och ORCID innebär att söklogiken är OR, alltså att du får träffar på publikationsposter som innehåller antingen namn eller ORCID eller båda." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input autocomplete="on" maxlength="19" name="orcid" pattern="\d{4}-\d{4}-\d{4}-\d{3}[0-9Xx]" type="text" /></div>
                <div class="org"><label id="org_label" class="" for="org">Organisation</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Här menas registrerande organisation. Väljer du ingen organisation ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <select id="org" class="org simple_subject js-example-basic-multiple" multiple="multiple" name="org[]" size="5">
                        <option value="bth">Blekinge Tekniska Högskola</option>
                        <option value="cth">Chalmers tekniska högskola</option>
                        <option value="esh">Ersta Sköndal högskola</option>
                        <option value="fhs">Försvarshögskolan</option>
                        <option value="gih">Gymnastik- och idrottshögskolan</option>
                        <option value="gu">Göteborgs universitet</option>
                        <option value="hhs">Handelshögskolan i Stockholm</option>
                        <option value="du">Högskolan Dalarna</option>
                        <option value="hkr">Högskolan Kristianstad</option>
                        <option value="hv">Högskolan Väst</option>
                        <option value="hb">Högskolan i Borås</option>
                        <option value="hig">Högskolan i Gävle</option>
                        <option value="hh">Högskolan i Halmstad</option>
                        <option value="hj">Högskolan i Jönköping</option>
                        <option value="his">Högskolan i Skövde</option>
                        <option value="kth">KTH</option>
                        <option value="kau">Karlstads universitet</option>
                        <option value="ki">Karolinska Institutet</option>
                        <option value="konstfack">Konstfack</option>
                        <option value="kmh">Kungliga Musikhögskolan</option>
                        <option value="liu">Linköpings universitet</option>
                        <option value="lnu">Linnéuniversitetet</option>
                        <option value="ltu">Luleåtekniska universitet</option>
                        <option value="lu">Lunds universitet</option>
                        <option value="mah">Malmö Högskola</option>
                        <option value="miun">Mittuniversitetet</option>
                        <option value="mdh">Mälardalens högskola</option>
                        <option value="nationalmuseum">Nationalmuseum</option>
                        <option value="nrm">Naturhistoriska riksmuseet</option>
                        <option value="naturvardsverket">Naturvårdsverket</option>
                        <option value="nai">Nordiska Afrikainstitutet</option>
                        <option value="rkh">Röda Korsets Högskola</option>
                        <option value="shh">Sophiahemmet Högskola</option>
                        <option value="vti">Statens väg- och transportforskningsinstitut</option>
                        <option value="su">Stockholms universitet</option>
                        <option value="slu">Sveriges lantbruksuniversitet</option>
                        <option value="sh">Södertörns högskola</option>
                        <option value="umu">Umeåuniversitet</option>
                        <option value="uu">Uppsala universitet</option>
                        <option value="oru">Örebro universitet</option>
                    </select></div>
                <div class="year_from"><label id="year_from_label" class="" for="year_from">Från</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Ange årtal (från och med) med fyra siffror. Anger du inget årtal ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="year_from" class="" autocomplete="on" maxlength="4" name="year_from" pattern="\d{4}" type="text" value="" placeholder="År" /></div>
                <div class="year_to"><label id="year_to_label" class="" for="year_to">Till</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Ange årtal (till och med) med fyra siffror. Anger du inget årtal ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="year_to" class="" autocomplete="on" maxlength="4" name="year_to" pattern="\d{4}" type="text" value="" placeholder="År" /></div>
                <div class="simple_subject"><label id="simple_subject_label" class="" for="simple_subject">Ämne</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj ett eller flera ämnen. Väljer du inget ämne ingår samtliga i uttaget. Ämnesklassifikationen följer "Standard för svensk indelning av forskningsämnen 2011"." data-placement="top" ><i class="fa fa-question-circle"></i></a>

                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="1 Naturvetenskap">
                        <option value="101">101 Matematik</option>
                        <option value="102">102 Data- och informationsvetenskap</option>
                        <option value="103">103 Fysik</option>
                        <option value="104">104 Kemi</option>
                        <option value="105">105 Geovetenskap och miljövetenskap</option>
                        <option value="106">106 Biologiska vetenskaper</option>
                        <option value="107">107 Annan naturvetenskap</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="2 Teknik">
                        <option value="201">201 Samhällsbyggnadsteknik</option>
                        <option value="202">202 Elektroteknik och elektronik</option>
                        <option value="203">203 Maskinteknik</option>
                        <option value="204">204 Kemiteknik</option>
                        <option value="205">205 Materialteknik</option>
                        <option value="206">206 Medicinteknik</option>
                        <option value="207">207 Naturresursteknik</option>
                        <option value="208">208 Miljöbioteknik</option>
                        <option value="209">209 Industriell bioteknik</option>
                        <option value="210">210 Nanoteknik</option>
                        <option value="211">211 Annan teknik</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="3 Medicin och hälsovetenskap">
                        <option value="301">301 Medicinska grundvetenskaper</option>
                        <option value="302">302 Klinisk medicin</option>
                        <option value="303">303 Hälsovetenskaper</option>
                        <option value="304">304 Medicinsk bioteknologi</option>
                        <option value="305">305 Annan medicin och hälsovetenskap</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="4 Lantbruksvetenskap">
                        <option value="401">401 Lantbruksvetenskap, skogsbruk och fiske</option>
                        <option value="402">402 Husdjursvetenskap</option>
                        <option value="403">403 Veterinärmedicin</option>
                        <option value="404">404 Bioteknologi med applikationer på växter och djur</option>
                        <option value="405">405 Andra lantbruksrelaterade vetenskaper</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="5 Samhällsvetenskap">
                        <option value="501">501 Psykologi</option>
                        <option value="502">502 Ekonomi och näringsliv</option>
                        <option value="503">503 Utbildningsvetenskap</option>
                        <option value="504">504 Sociologi</option>
                        <option value="505">505 Juridik</option>
                        <option value="506">506 Statsvetenskap</option>
                        <option value="507">507 Social och ekonomisk geografi</option>
                        <option value="508">508 Medie- och kommunikationsvetenskap</option>
                        <option value="509">509 Annan samhällsvetenskap</option></optgroup>
                    </select>
                    <select class="simple_subject js-example-basic-multiple" multiple="multiple" name="simple_subject[]" size="5"><optgroup label="6 Humaniora">
                        <option value="601">601 Historia och arkeologi</option>
                        <option value="602">602 Språk och litteratur</option>
                        <option value="603">603 Filosofi, etik och religion</option>
                        <option value="604">604 Konst</option>
                        <option value="605">605 Annan humaniora</option></optgroup>
                    </select></div>
                <div class="simple_publtype"><label id="simple_publtype_label" class="" for="simple_publtype">Publikationstyper</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj en eller flera publikationstyper. Väljer du ingen publikationstyp ingår samtliga i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <select id="simple_publtype" class="simple_publtype simple_subject js-example-basic-multiple" multiple="multiple" name="simple_publtype[]" size="5">
                        <option value="bok">Bok</option>
                        <option value="kap">Bokkapitel</option>
                        <option value="dok">Doktorsavhandling</option>
                        <option value="for">Forskningsöversikt</option>
                        <option value="kon">Konferensbidrag</option>
                        <option value="kfu">Konstnärligt arbete</option>
                        <option value="lic">Licentiatavhandling</option>
                        <option value="pat">Patent</option>
                        <option value="pro">Proceedings (redaktörskap)</option>
                        <option value="rap">Rapport</option>
                        <option value="rec">Recension</option>
                        <option value="sam">Samlingsverk (redaktörskap)</option>
                        <option value="art">Tidskriftsartikel</option>
                        <option value="ovr">Annan publikation</option>
                    </select></div>
                <div class="simple_openaccess"><label id="simple_openaccess_label" class="" for="simple_openaccess">Open Access</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj "Open Access" för att inkludera enbart open access-publikationer i uttaget." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <input id="simple_openaccess" class="simple_openaccess" autocomplete="on" name="simple_openaccess" type="checkbox" value="openaccess_true" />Endast Open Access</div>
                <div class="simple_status"><label id="simple_status_label" class="" for="simple_status">Publiceringsstatus</label>
                    <a href="" class="osc_tooltip " target="_self" data-original-title="Välj publiceringsstatus för de publikationer som ska ingå i uttaget: allt, publicerat eller opublicerat. Väljer du inget under publiceringsstatus är "publicerat" förvalt." data-placement="top" ><i class="fa fa-question-circle"></i></a>
                    <ul class="simple_status">
                        <li><input id="simple_status_all" class="" autocomplete="on" name="simple_status" type="radio" value="all" />Allt</li>
                        <li><input id="simple_status_published" class="" autocomplete="on" checked="checked" name="simple_status" type="radio" value="published" />Publicerat</li>
                        <li><input id="simple_status_unpublished" class="" autocomplete="on" name="simple_status" type="radio" value="unpublished" />Opublicerat</li>
                    </ul>
                </div>
                <div class="simple_submit"><button id="simple_submit" class="btn btn-default btn-lg simple_submit">Visa <i class="fa fa-search"></i></button></div>

            </form>
            </div>
        </div>
            </div><!-- .entry-content -->
            </article><!-- #post-## -->

        </div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main-content -->

{{>scripts}}
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js?ver=4.1.7'></script>
<script type='text/javascript' src='http://info.swepub.kb.se/wp-includes/js/search_sprql.js?ver=4.1.7'></script>
</div>
</body>
</html>