<script type="text/javascript" src="./js/1.0/static/bundle.js" charset="utf-8"></script>
<script type='text/javascript' src='./js/1.0/bower/jquery/dist/jquery.js'></script>
{{!<script type='text/javascript' src='http://info.swepub.kb.se/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>}}
<script type='text/javascript' src='http://info.swepub.kb.se/wp-content/plugins/easy-bootstrap-shortcodes/js/bootstrap.min.js?ver=4.1.7'></script>
<script type='text/javascript' src='http://info.swepub.kb.se/wp-includes/js/masonry.min.js?ver=3.1.2'></script>
<script type='text/javascript' src='http://info.swepub.kb.se/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2'></script>
<script type='text/javascript' src='http://info.swepub.kb.se/wp-content/themes/twentyfourteen/js/functions.js?ver=20140616'></script>
<script type='text/javascript' src='./js/1.0/static/responsiveTabs.js'></script>

<script type="text/javascript">
    var _kundo = _kundo || {};
    _kundo["org"] = "swepub";
    _kundo["lang"] = "sv";
    _kundo["btn-type"] = "4";

    (function() {
        function async_load(){
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = ('https:' == document.location.protocol ? 'https://static-ssl' : 'http://static') +
                    '.kundo.se/embed.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (window.attachEvent)
            window.attachEvent('onload', async_load);
        else
            window.addEventListener('load', async_load, false);
    })();
</script>
<script>jQuery(document).ready(function($) { RESPONSIVEUI.responsiveTabs(); })</script>
<script>
    jQuery(document).ready(function() {
        jQuery('.osc_tooltip').tooltip();
    });
</script>
