<!DOCTYPE html>
<html lang="sv-SE">
<head>
    <title>{{pageTitle}}</title>
    <META HTTP-EQUIV="Pragma" CONTENT="public">
    <meta http-equiv="cache-control" content="public, max-age=7200">
    <meta http-equiv="expires" content="', gmdate(" D, d M Y H:i:s", time() + (3600*2)), ' GMT', '">
</head>
<body>
<div id="app">
    <h1>Headers</h1>
    <ul>
        {{#headers}}
            <li>{{.}}</li>
        {{/headers}}
    </ul>
    <h1>params</h1>
    <ul>
        {{#params}}
            <li>{{.}}</li>
        {{/params}}
    </ul>


    <h1>sessionAttributes {{sessionAttributes}}</h1>
    {{error}}
</div>
</body>

</html>