<div class="{{ $data._styles.techInfo }}">
  <a v-on:click="toggle" class="{{ $data._styles.trigger }}">{{{ latestRelease.tag }}} <i v-show="hasNews" class="fa fa-exclamation-circle"></i></a>
  <div class="{{ $data._styles.content }}" v-show="show">
    <div class="{{ $data._styles.techInfoArrow }}"></div>
    <h1>{{{ latestRelease.tag }}} - {{{ latestRelease.formatted_publish_date }}}</h1>
    <p>{{{ latestRelease.name }}}</p>
    <p><a href="{{ latestRelease.url }}" target="_blank">Change log</a></p>
  </div>
</div>
