.ListPreview {
    max-height: 820px;
    overflow-y: auto;
}

.ListBody {
    max-height: 700px;
    background: #ffffff;
}

.Ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.FieldName {
    padding-top: 17px;
}