<div style="max-height: 450px; overflow-y: scroll; overflow-x: scroll;">
	<table class="table" style="max-width: 100%">
		<thead>
			<th v-repeat="field in filterFieldKeys | onlyCheckedFilterFields">
				<p style="font-size: small;">
					{{ stripAsterisk(field.fieldName) }}
					<template v-if="fractionalField(field.fieldName)">
						<fract-circle></fract-circle>
					</template>
				</p>
				<p style="font-size: x-small;">{{ field.field }}</p>
			</th>
		</thead>
		<tbody>
			<tr v-repeat="article in ((result && result.results && result.results.bindings) ? result.results.bindings : [])">
				<td v-repeat="cell in article | filterFields filterFields">
					<div style="min-width: 200px;">
						<template v-if="startsWithHttp(cell.value)">
							<a href="{{ cell.value }}" target="__new_tab__">{{ cell.value }}</a>
						</template>
						<template v-if="!startsWithHttp(cell.value)">
							{{ cell.value }}
						</template>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>