.LightBackground {
	background-color: #DFF0F2;
	color: #595D61 !important;
}

.MediumBackground {
	background-color: #C0E1E5;
	color: #595D61 !important;
}

.DarkBackground {
	background-color: #C4C7CA;
	color: #595D61 !important;
}

.LightBlueBackground {
	background-color: #61B5BF;
	color: #FFFFFF !important;
}

.DarkBlueBackground {
	background-color: #6C84A5;
	color: #FFFFFF !important;
}

.GreyBackground {
	background-color: #F0F2F6;
	color: #595D61 !important;
}

.DarkGreyBackground {
	background-color: grey;
	color: #FFFFFF !important;
}