<div class="dropdown" style="display: inline-block;">
	<button class="btn btn-info dropdown-toggle" 
			type="button" id="violations" 
			data-toggle="dropdown" 
			aria-haspopup="true" 
			aria-expanded="true">
		<slot name="Title">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="violations">
		<li><a href="javascript:null;" v-on:click="onClickOption(null)">Alla</a></li>
		<li role="separator" class="divider"></li>
		<template v-for="violation in violations">
			<li><a href="javascript:null;" v-on:click="onClickOption($key)">{{ $key.charAt(0).toUpperCase() + $key.slice(1); }}</a></li>
		</template>		
	</ul>
</div>