<div class="{{ $data._resultStyles.Result }}">
	<div class="{{ $data._resultStyles.Loading }}">
		<div v-if="pendingUpdate === true"  class="{{ $data._styles.PendingUpdate }}">
			<h2 class="{{ $data._styles.loading }}">Laddar...</h2>
		</div>
	    <div v-if="!hasNonEmptyResult()" class="{{ $data._resultStyles.PendingUpdate }}">
	        <h2>Tomt sökresultat</h2>
	    </div>
	</div>
	<div class="{{ $data._resultStyles.Container }} background-main" v-if="!pendingUpdate && hasNonEmptyResult()">
		<div v-show="pendingUpdate !== true" class="{{ $data._styles.DuplicatesList }}">
			<div class="{{ $data._styles.TableContainer }}" v-on:scroll="onScrollTable" v-el:table-container>
				<table class="table {{ $data._styles.StaticHeader }}" style="table-layout: inherit; width: 100%">
					<thead class="{{ $data._styles.Thead }} background-main" style="table-layout: initial;">
						<!-- Top row -->
						<th class="{{ $data._styles.Th }} {{ $data._styles.Col1 }}">
							<p>POST 1</p>
						</th>
						<th class="{{ $data._styles.Th }} {{ $data._styles.Col2 }}">
							<p>POST 2</p>
						</th>
					</thead>
					<tbody class="{{ $data._styles.Tbody }} background-light" v-on:scroll="onScrollTbody" v-el:t-body>
						<!-- Collapsed row -->
						<template 
								track-by="$index" 
								v-for="article in ambiguities" 
								>
							<tr class="{{ $parent.$data._styles.DarkRow }} {{ $parent.$data._styles.Td }}">
								<td class="{{ $data._styles.Col1 }}">
									<p>{{ mapName(article._orgCode1) }} - <em>{{ article._id1 ? article._id1.value : '' }}</em></p>
								</td>
								<td class="{{ $data._styles.Col2 }}">
									<div style="position: relative">
										<p>{{ mapName(article._orgCode2) }} - <em>{{ article._id1 ? article._id2.value : '' }}</em></p>

									</div>
								</td>
								<td class="{{ $data._styles.Col3 }}">
									<div class="{{ $parent.$data._styles.ExpandButtonContainer }}">
										<span class="{{ $parent.$data._styles.WeightSpan }}">{{ (article.ambiguityCase && article.ambiguityCase.matchWeight) ? 'Viktning:'+ parseFloat(article.ambiguityCase.matchWeight).toFixed(2) : ''}}</span>
										<a class="pull-right" v-on:click="setHandleArticle(article)"  style="text-decoration: none; border-radius: 0px;">
											<span v-if="article.show !== true">Visa</span>
											<span v-else>Dölj</span>
											<i
													class="fa"
													v-bind:class="{ 'fa-plus-square': article.show !== true, 'fa-minus-square' : article.show === true }"
													style="margin-left:6px;">
											</i>
										</a>
									</div>
								</td>
							</tr>
							<!-- Expanded row -->
							<!-- Loading... -->
							<tr v-if="article.show && article.loading"  class="{{ $parent.$data._styles.DarkRow2 }}">
								<template v-if="article.loading">
									<td colpan="3">
										<div class="{{ $parent.$data._styles.LoadingRow }}">
											<h1 class="{{ $data._styles.loading }}">Laddar...</h1>
										</div>
									</td>
								</template>
							</tr>
							<!-- Ambiguities -->
							<tr  v-if="article.show"  class="{{ $parent.$data._styles.DarkRow3 }}">
								<template v-if="!article.loading">
									<td class="{{ $data._styles.Col1 }" >
										<p><b>MOTSTRIDIGHETER</b>
										<span
												class="label label-danger" 
												v-for="ambiguity in article.ambiguityCase.ambiguities || []"
												style="margin-right: 5px; font-size: x-small;"
												title="{{ ambiguity.violatingData }}">
												{{ ambiguity.type.toUpperCase() }}
											</span>
										</p>
									</td>
									<td class="{{ $data._styles.Col2 }" >&nbsp;</td>
									<td class="{{ $data._styles.Col3 }}">
									<div v-if="!loggedIn">
										<!-- TODO: Buttons with popover explaining the need to log in -->
									</div>
									<div v-if="loggedIn && !getPermissions(article, org)">
										<!-- TODO: Buttons with popover explaining the lack of permissions -->
									</div>
									<div v-else class="btn-group" data-toggle="buttons">
										<!--<button class="btn btn-default" v-bind:class="{ 'btn-success': (article.ambiguityCase.hasAdjudication == 1 && article.ambiguityCase.isDuplicate == 1 && article.pendingChange != 1) }" v-on:click="decideArticle(article, 1)">

											<i class="fa fa-circle-thin" v-show="(article.ambiguityCase.hasAdjudication != 1 || article.ambiguityCase.isDuplicate != 1) && article.pendingChange != 1"></i>
											<i class="fa fa-cog fa-spin" v-show="article.pendingChange == 1"></i>
											<i class="fa fa-check-circle" v-show="article.ambiguityCase.isDuplicate == 1 && article.pendingChange != 1"></i>
											Samma
										</button>-->
										<button class="btn btn-default" v-bind:class="{ 'btn-success':  (article.ambiguityCase.hasAdjudication == 1 && article.ambiguityCase.isDuplicate == 0 && article.pendingChange != 0) }" v-on:click="decideArticle(article, 0)">
											<i class="fa fa-circle-thin" v-show="(article.ambiguityCase.hasAdjudication != 1 || article.ambiguityCase.isDuplicate != 0) && article.pendingChange != 0"></i>
											<i class="fa fa-cog fa-spin" v-show="article.pendingChange == 0"></i>
											<i class="fa fa-check-circle" v-show="(article.ambiguityCase.hasAdjudication == 1 && article.ambiguityCase.isDuplicate == 0) && article.pendingChange != 0"></i>
											Ej dubbletter
										</button>
									</div>
										<!--<span>hasAdj{{article.ambiguityCase.hasAdjudication}} isDup{{article.ambiguityCase.isDuplicate}}</span>-->
									<br v-show="(article.ambiguityCase.hasAdjudication == 1 && article.ambiguityCase.isDuplicate == 0 && article.pendingChange != 0)" />
										<span v-show="(article.ambiguityCase.hasAdjudication == 1 && article.ambiguityCase.isDuplicate == 0 && article.pendingChange != 0)">Posterna kommer att splittras och behandlas som separata poster vid nästa omindexering</span>
									<span class="{{ $parent.$data._styles.Error }}" v-show="article.error != null">Kunde inte spara...</span>
									</td>
								</template>
							</tr>
							<!-- Iframes -->
							<tr v-if="article.show"  style="" class="{{ $parent.$data._styles.DarkRow4 }}">
								<template v-if="!article.loading">
									<td class="{{ $parent.$data._styles.IframeCol1 }}">
										<div><p v-if="article.show" class="{{ $data._styles.Ellipsis }}" style="..."><small >Visas inte posten nedan? Länk till posten:<a href="{{article.ambiguityCase.record1.uri}}">{{article.ambiguityCase.record1.uri}}</a> </small></p></div>
										<div class="{{ $parent.$data._styles.WindowContainer }}">
											<iframe sandbox
												v-if="article.ambiguityCase"
												class="{{ $parent.$data._styles.Window }}" 
												v-bind:src="article.ambiguityCase.record1.uri">
											</iframe>
										</div>
									</td>
									<td class="{{ $parent.$data._styles.IframeCol2 }}">
										<div><p v-if="article.show" class="{{ $data._styles.Ellipsis }}" style="..."><small >Visas inte posten nedan? Länk till posten:<a href="{{article.ambiguityCase.record2.uri}}">{{article.ambiguityCase.record2.uri}}</a> </small></p></div>
										<div class="{{ $parent.$data._styles.WindowContainer }}">
											<iframe sandbox
												v-if="article.ambiguityCase" 
												class="{{ $parent.$data._styles.Window }}" 
												v-bind:src="article.ambiguityCase.record2.uri">
											</iframe>
										</div>
									</td>
								</template>
							</tr>
						</template>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
